/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.pseudocode {
    padding: 10px;
    /* width: fit-content; */
    background-color: black;
  }

@font-face {
  font-family: "madhacker";
  src: url("../../Mad\ Hacker\ Italic.ttf") format("truetype")
  }

/* Help with positioning code on black bg by Gabe da Silva */
.pseudocode code {
  position: relative;
  left: -410px;
  bottom: 30px;
  color: #149414;
  font-family: "Consolas";
  margin: 0;
  padding: 0;
}

#content {
  margin: auto;
  width: 60%;
  padding: 10px;
  border: solid 3px #ffcc04;
  background-color: #ffffff;
}