/* this css file will only style the homepage of our site */

.pfp-photo {
  margin: 10px;
  float: right;
  max-width: 350px;
}

.lab-links-header {
  float: right;
  margin-top: 50px;
  margin-right: 90px;
}

.lab-links {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 30px;
}

.bio {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 30px;
}
/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}