/* this css file will only style the homepage of our site */

.wallpaper {
  background-image: url(../t1bg.jpg);
  background-size: cover;
  background-position: top right;
}

#content {
  margin-top: 50px;
  width: fit-content;
  padding: 10px;
  border: solid 3px  #e2012d;
  background: rgba(255, 255, 255, 0.8)
}

.pfp-photo {
  margin: 20px;
  float: left;
  max-height: 300px;
}

.lab-links {
  float: right;
  margin-left: 20px;
  margin-right: 20px;
}

.lab {
  float: left;
  margin-top: -19px;
}

.bio {
  margin-left: 20px;
  max-width: 300px;
  margin-top: 60px;
}

/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}