we can use a single css file to style all the files in our wwebsite

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: #f4f4f4;
}

@font-face {
  font-family: "LoversQuarrel";
  src: url("../lab2/LoversQuarrel.ttf") format("truetype")
  }
@font-face {
  font-family: "BriosoPro";
  src: url("../lab2/BriosoPro.ttf") format("truetype")
  }

@font-face {
  font-family: "Aviano";
  src: url("../lab2/Aviano.ttf") format("truetype")
  }

@font-face {
  font-family: "BELL";
  src: url("../lab2/BELL.TTF") format("truetype")
  }

/* we can have rules apply to multiple elements at the same time with commas */
h1{
  font-family: "Aviano";
  word-spacing: 5px;
  font-size: 30px;
  margin-bottom: 10px;
}

h2{
  font-family: "BELL";
  font-size: 20px;
  margin: 0px;
}

p{
  font-family: "BriosoPro";
  font-size: 20px;
}

a {
  color: plum;
  text-decoration: none;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: auto;
  width: fit-content;
  padding: 10px;
  border: solid 3px #ffcc04;
  background-color: #ffffff;
  border-radius: 10px;
}

.home {
  text-align: center;
  margin: auto;
  width:150px;
  height:50px;
  }

body {
  background-color: lavender;
}