/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: #f4f4f4;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: Arial, Helvetica, sans-serif;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  word-spacing: 5px;
  font-size: 200%;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: auto;
  width: 50%;
  padding: 10px;
  border: solid 3px #ffcc04;
  background-color: #ffffff;
}