/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
#content {
  margin: auto;
  width: 60%;
  padding: 10px;
  border: solid 3px pink;
  background-color: #ffffff;
}

.photo {
  max-width: 300px;
  border-radius: 10px;
}

.output {
  background-color: black;
  color: #149414;
  font-family: "Consolas";
  width: fit-content;
  padding: 10px;
}