/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
#content {
  margin: auto;
  width: 60%;
  padding: 10px;
  border: solid 3px pink;
  background-color: #ffffff;
}

.anon {
  max-width: 200px;
position: relative;
top: 15px;
left: 40px;
}
.output p {
  background-color: black;
  color: #149414;
  font-family: "Consolas";
  width: fit-content;
  font-size: medium;
  padding: 10px;
}

/* https://www.w3schools.com/howto/howto_css_three_columns.asp */
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}