/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
#content {
  margin: auto;
  width: 70%;
  padding: 10px;
  border: solid 3px pink;
  background-color: #ffffff;
  height:auto;
  overflow:auto;
}

#output p {
  font-size: 15px;
  font-family:Arial, Helvetica, sans-serif
}

.text-left {
  display: inline-block;
  max-width: 55%;
  margin: 3px;
  padding: 5px;
  border-radius: 15px;
  background-color: darkgray;
  color: white;
  font-size: 5px;
  float: left;
  clear: both;
}

.text-right {
  display: inline-block;
  max-width: 55%;
  margin: 3px;
  padding: 5px;
  border-radius: 15px;
  background-color: #147efb;
  color: white;
  font-size: 0.8em;
  float: right;
  clear: both;
}

.my-button {
  background-color: lavender;
  border: dashed 3px pink;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 5px;
  margin: 0px;
}

#title{
  font-family:Arial, Helvetica, sans-serif;
}